/* Style.css is currently only implemented in index.html*/

html {
  text-align: center;
  width: 630px;
  margin: auto;
  background-color: papayawhip;
  font-family: Helvetica, 'Times New Roman', sans-serif;
}

h1, h2 { 
  text-align: center; 
}

h3 {
  display: inline-block;
  padding-right: 5px;
  margin-bottom: -10px;
  border-bottom: solid 3px #6BAA75;
  border-right: solid 3px #6BAA75;
}

.container {
  text-align: initial;
}


.nutrition {
  text-align: center;
  color: gray;
  font-style: italic;
  font-size: 14px;
  margin-top: 3em;
}

.buttons {
  text-align: center;
}

/* Setting alignment for UL and OL with the class centerlist to center including the bullets,
temporarily taken out for testing other solutions.

div.container {
  text-align: center;
}

ul.centerlist {
  display: inline-block;
  text-align: left;
}

ol.centerlist {
  display: inline-block;
  text-align: left;
}

End*/