
/* General styling for website*/
html {
  text-align: center;
  width: 630px;
  margin: auto;
  background-color: papayawhip;
  font-family: Helvetica, 'Times New Roman', sans-serif;
}

a {
  text-decoration: none;
  color: #EC4E20;
}

a:hover {
  text-decoration: underline;
}

h1, h2 { 
  text-align: center; 
  border-bottom: double 8px #6BAA75;
}

h3 {
  display: inline-block;
  padding-right: 5px;
  margin-bottom: -10px;
  padding-left: 20px;
}

/* Recipe list container*/
.container {
  text-align: initial;
  margin: auto;
}


/* Formatting the Nutrition section at the end of recipes */
.nutrition {
  text-align: center;
  color: #4F5D75;
  font-style: italic;
  font-size: 14px;
  margin-top: 3em;
}

/* Style for the buttons at the bottom of recipe pages*/
.buttons {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;

}

.buttons > a:link,
.buttons > a:visited {
  margin: 20px;
  padding: 5px 10px;
  background-color: #2D3142;
  color: white;
  text-decoration: none;
}

.buttons > a:hover, 
.buttons > a:active{
  background-color: #6BAA75;
}

/* Style for Images in Index / Landing page */

.recipes img:hover {
  box-sizing: border-box;
  border: solid 4px #6BAA75;
  
}